#têteblender{
    display: flex;
    justify-content: right;
    margin-right: 25px;
    margin-top: 25px;
    overflow: auto;
}

.flex{
    display: flex; 
    justify-content: center;
}

.flex div{
    width: 100px;
    border: solid 1px white;
}

.centrerarticleblender{  
        text-align: center;   
}